<header th:fragment="main-header">
    <a class="logo" href="/">
        <h1 class="dine">Dine</h1>
        <h1 class="out">Out</h1>
        <img src="/images/logo.png" alt="LOGO">
    </a>

    <div class="search-wrapper">
        <div class="city-container">
            <div class="city-selection">Välj en stad</div>
            <div class="city-options">
                <div>Göteborg</div>
                <div>Stockholm</div>
                <div>Malmö</div>
            </div>
        </div>

        <div class="restaurant-search-container">
            <span class="search-icon"></span>
            <input type="text"
                   id="restaurant-search-input"
                   placeholder="Sök efter kategori eller restaurang..."
                   class="restaurant-search">
            <button>SÖK</button>
        </div>
    </div>

    <button class="log-in-button">
        <img src="/images/log-in.png" alt="">
        <div class="text">LOGGA IN</div>
    </button>
</header>