<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DineOut</title>
</head>
<body>

<div id="header-placeholder"></div>

<div class="restaurant-grid">
    <div class="restaurant-cards" th:each="res : ${restaurants}" th:data-city="${res.address.city}">
        <img th:src="@{${res.imagePath}}" alt="Restaurangbild">
        <div th:class="restaurant-card-info">
            <span th:text="${res.name}">Namn</span>
            <span class="restaurant-card-rating" th:text="${res.rating}">Betyg</span>
        </div>
    </div>
</div>

<script src="/js/script.js"></script>
</body>
</html>