:root {
    --header-height: 5.5rem;
    --primary: darkred;
    --secondary: darkorange;
    --text: black;
    --background: white;
    --border: #ccc;
    --shadow-soft: 0 2px 5px rgba(0, 0, 0, 0.1);
    --shadow-hard: 0 4px 15px rgba(0, 0, 0, 0.3);
    --transition: 0.4s ease;
    --radius-smal: 10px;
}

* {box-sizing: border-box; margin: 0; padding: 0;}
.page-width{ width: 100%; margin: 0 auto; padding: 0 2rem; }

body, div, input, button, span, textarea {
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;
    color: black;
}

/*HEADER AND LOGO*/
header {
    position: fixed;
    height: var(--header-height);
    top: 0;
    left: 0;
    right: 0;

    background-color: var(--background);
    background-repeat: no-repeat;
    box-shadow: var(--shadow-soft);
    display: flex;
    align-items: center;
    z-index: 1000;
}

.header-elements{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    text-decoration: none;
    display: flex;
    letter-spacing: 0.1rem;
}

.logo .dine{ color: darkred; }
.logo .out{ color: darkorange; padding-right: 7px; }
.logo img{ max-height: 30px; width: auto;}

/*SEARCHBAR - CITY-SELECTION AND RESTAURANT_SEARCH*/
.search-wrapper{
    display: flex;
    align-items: center;
    margin: 0 2.5rem;
    flex: 1;
    min-width: 200px;
    border: 1px solid var(--border);
    border-radius: var(--radius-smal);
    box-shadow: var(--shadow-hard);
    background-color: var(--background);
    cursor: pointer;
    text-wrap: nowrap;
}

@media (max-width: 850px) {
    .search-wrapper{
        display: none;
    }
}

.city-container{ position: relative; width: 25%;}

.city-selection{
    display: flex;
    justify-content: space-between;
    transition: var(--transition);
    padding: 0 1rem;
}

.city-selection::after{ content: '\25BC'; color: #333;}

.city-options{
    position: absolute;
    background-color: var(--background);
    top: calc(100% + 20px);
    width: 100%;
    border-radius: var(--radius-smal);
    box-shadow: var(--shadow-hard);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    overflow: hidden;
}

.city-options.show{ opacity: 1; visibility: visible; transform: translateY(0);}

.city-options div{ padding: 0.7rem 1rem; font-size: 0.75rem; cursor: pointer;}
.city-options div:hover{ background-color: rgb(from var(--secondary) r g b / 0.3);}

.restaurant-search-container::before{
    content: "";
    position: absolute;
    top: 20%;
    height: 60%;
    width: 1px;
    background-color: var(--border);
}

.restaurant-search-container{ position: relative; flex: 1; display: flex; }

.restaurant-search {
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: var(--transition);
    background: transparent;
}

.search-icon {
    position: relative;
    border: 0.1rem solid black;
    border-radius: 50%;
    width: 0.6rem;
    height: 0.6rem;
    margin-top: 0.9rem;
    margin-left: 1rem;
    flex-shrink: 0;
}

.search-icon::after {
    content: "";
    position: absolute;
    background-color: var(--text);
    width: 0.6rem;
    height: 0.1rem;
    top: 114%;
    left: 84%;
    transform: rotate(45deg);
}

.restaurant-search-container button{
    background-color: var(--secondary);
    color: white;
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 0.04rem;
    cursor: pointer;

    height: 1.7rem;
    padding: 0 10px;
    margin-right: 0.4rem;
    border: none;
    border-radius: 8px;
    align-self: center;
}

/*LOGIN*/
.log-in-button{
    display: flex;
    align-items: center;
    background-color: var(--background);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 6px;
    letter-spacing: 0.02rem;
    white-space: nowrap;
    flex-shrink: 0;
}

.log-in-button img{ max-height: 25px; width: auto; padding-right: 0.4rem; }
.log-in-button .text{ font-size: 0.8rem; font-weight: 700; color: var(--primary); }


/*CATEGORIES*/
.category-section-wrapper { position: relative; margin-top: calc(var(--header-height) + 1rem); overflow: hidden}

.category-container {
    display: flex;
    gap: 20px;
    padding: 1.2rem 0.6rem;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.category-scroll{
    display: none;
    position: absolute;
    z-index: 100;
    top: 30%;

    width: 40px;
    height: 40px;
    border-width: 1px;
    border-color: var(--secondary);
    border-radius: 50%;
    background-color: var(--background);
    cursor: pointer;

    align-items: center;
    justify-content: center;
}

.category-scroll.left {left: 1rem;}
.category-scroll.right {right: 1rem;}
.category-scroll.visible { display: flex; }

.arrow{
    border: solid var(--secondary);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
}

.arrow.left{transform: rotate(135deg); margin-left: 5px;}
.arrow.right{transform: rotate(-45deg); margin-right: 5px;}


.category-cards {
    flex: 0 0 120px;
    /*Same background color as the picture above*/
    background-color: rgb(248, 248, 248);
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: var(--shadow-hard);
    height: 8.2rem;
    text-align: center;
}

.category-cards img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.category-cards span {
    font-size: 0.75rem;
    font-weight: bold;
    color: var(--primary);
    display: block;
    padding: 5px 0;
}

/*RESTAURANTS*/
.restaurant-grid{
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--background);
    width: 100%;
    gap: 1rem;
    padding-top: 2rem;
}

@media (min-width: 1024px) {
    .restaurant-grid {
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
    }
}

.restaurant-cards {
    background-color: var(--background);
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: var(--shadow-hard);
    transition: transform 0.2s;
    height: 12rem;
}

.restaurant-cards:hover, .category-cards:hover{ scale: 110%; }

.restaurant-cards img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    display: block;
}

.restaurant-card-info{
    display: flex;
    justify-content: space-between;
    line-height: 1;
    align-items: baseline;
    padding: 1rem;
}

.restaurant-card-rating::after{
    content: "★";
    color: var(--primary);
    font-size: 1.1rem;
    padding-left: 5px;
}